
  @import url("bootstrap.css");
  @import url("http://fonts.googleapis.com/css?family=Open+Sans:700italic,800,700,300,400&subset=latin,latin-ext");
  @import url("font-awesome.min.css");
  @import url("owl.carousel.css");



/* 2. BASIC STYLES */

  /* * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
  } */

  html, body {
    height: 100%;
  }

  body {
    font: 16px/1.5 'Open Sans', "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;
    background-color: #262626;
    color: rgb(0, 176, 245);
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  a { 
    color: #63000d;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
  }





/* 5. HEADER */

  header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
  }
  
  header > .container {
    height: 100%;
    position: relative;
  }

  .wrapper {
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
  }

  body
{
    margin: 0px;
    padding: 0px;
    
	background-size: 0%;

	font-family: "Segoe UI", sans-serif;

}


.log-top-right
{
    top: 20px;
    right: 20px;
    text-align: right;
    display: none;
}

.loading-container
{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 1%;

    z-index: 5;

    color: rgba(250, 250, 250);

    font-family: Arial;
}

.loading-labels
{
    width: 100%;
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 12px;

    padding: 3px;
    text-align: center;
    position: relative;
    display: inline;
    white-space: nowrap;
}

.loading-labels div
{
    display: none;
    text-align: left;
    font-size: 18px;
    position: relative;
}

.loading-bar-container
{
    width: 100%;
    background-color: rgba(110, 171, 190, 0.9);
    height: 20px;

    margin-left: 2px;
    margin-right: 3px;

    margin-top: 5px;
    margin-bottom: 5px;

    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    background-color: #1a1a1a;

    border-radius: 6px;
    padding: 5px;
    text-align: left;
    overflow: hidden;
    position: relative;
    display: block;
    white-space: nowrap;
}

.loading-bar
{
    width: 0%;
    height: 25px;
    border-radius: 2px;

    background-size: 30px 30px;      
    background-image: linear-gradient(135deg, rgba(250, 250, 250, 0.15) 25%, transparent 25%, transparent 50%, rgba(250, 250, 250, .15) 50%, rgba(250, 250, 250, .15) 75%, transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;

    display: none;

    transition: width 0.3s;
    transition-timing-function: ease-out;
}

.bgcolor-first 
{
    background-color: #63000d;
    
}

.bgcolor-second 
{
    background-color: #63000d;
}

.bgcolor-third 
{
    background-color: #63000d;
}

.bgcolor-fourth 
{
    background-color: #63000d;
}


.color-first 
{
    color: #ffffffb3;
}

.color-second 
{
    color: #ffffffb3;
}

.color-third 
{
    color: #ffffffb3;
}

.color-fourth 
{
    color: #ffffffb3;
}

.logo
{
  position: absolute;
  top: 350px;
  left: 750px;
}

.enable_music {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-align: center;

  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;

  font-weight: 400;

  margin: 15px auto;
  animation: music 3s;
}

@keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@keyframes music {
  from {
      opacity: 0.7;
      transform: translateY(-80px);
  }

  to { 
      transform: translateY(0px);
  }
}

.custom-audio-player {
  position: absolute;
  bottom: 60px;
  right: 30px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;
  backdrop-filter: blur(5px);
}

.custom-audio-player button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.custom-audio-player input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  height: 5px;
  background: #555;
  border-radius: 5px;
  outline: none;
}

.custom-audio-player input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}