@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500&family=Roboto:wght@100;300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
}

.center {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
}

.card {
    font-weight: light;
    display: flex;
    flex-direction: column;
    justify-content: center space-between;
    align-items: center;
    padding: 2vw;
    width: 20%;
    height: 50%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1vw;
    overflow: hidden;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

.bgImg {
    margin: -2vw;
    position: absolute;
    color: rgba(255, 255, 255, 0.05);
    font-size: 22vw;
    pointer-events: none;
    opacity: 1;
    transition: 0.5s;
    background: url('https://cdn.discordapp.com/attachments/920831965991677963/941007095443111948/missingfile.png') center/cover no-repeat;
}

p {
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10vh);
    text-shadow: black 0.1em 0.1em 0.2em;
}

h4 {
    font-family: Montserrat Black, sans-serif;
    font-style: italic;
    font-size: 1.6rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(7vh);
    text-shadow: black 0.0em 0.0em 0.4em;
}

h5 {
    font-family: Montserrat Black, sans-serif;
    font-style: italic;
    font-size: 0.90rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(7vh);
    text-shadow: black 0.0em 0.0em 0.4em;
}

.numberFormat {
    transition: 0.5s;
    opacity: 0;
    transform: translateY(3vh);
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.card:hover h4,
.card:hover h5,
.card:hover p,
.card:hover a {
    opacity: 1;
    transform: translateY(0vh);
}

.card:hover .bgText {
    transition: 0.5s;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}