@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

:root {
    --chat-font-size: 1.3vh;
    --annonce-color: 99, 0, 13;
    --report-color: #c33131;
    --chat-position-x: 0%;
    --chat-position-y: 0%;
    --chat-width: 30%;
    --chat-height: 22%;
}

body {
    overflow: hidden;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: var(--chat-font-size);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.chat-window {
    background-color: rgba(2, 2, 2, 0.4) !important;
    border-radius: 7px;
    top: calc(1.5% + var(--chat-position-y)) !important;
    left: calc(0.8% + var(--chat-position-x)) !important;
    width: var(--chat-width) !important;
    height: var(--chat-height) !important;
}

.chat-input {
    top: calc(calc(var(--chat-height) + 1.8%) + var(--chat-position-y)) !important;
    left: calc(0.8% + var(--chat-position-x)) !important;
    width: var(--chat-width) !important;
}

.chat-input .input {
    background-color: rgba(2, 2, 2, 0.4) !important;
    border-radius: 3px;
}

.chat-input .prefix {
    margin-left: 0.6vh;
    margin-right: 0.6vh;
    transform: scale(1.0);
    top: 3px;
}

.chat-input .suggestions {
    background-color: rgba(2, 2, 2, 0.4) !important;
    border-radius: 3px;
    margin-top: 0.5%;
}

.report {
    background: rgba(255, 0, 0, 0.2);
    border-left: 6px solid rgba(255, 0, 0, 1);
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 3px;
    animation: slideIn 2s ease-out;
    display: flex;
    align-items: center;
}

.report i {
    font-size: 20px;
    margin-right: 0.5vw;
    color: rgba(255, 0, 0, 1);
}

.annonce {
    background: #5041927e;
    border-left: 6px #4d0085 solid;
    padding: 0.5vw;
    margin: 0.5vw;
    border-radius: 3px;
    animation: slideIn 1s ease-out;
    display: flex;
    align-items: center;
}

.annonce i {
    font-size: 20px;
    margin-right: 0.5vw;
}
