@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

.station-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5vh; 
    padding: 20px;
    width: 16vw;
    height: 35vh;
    text-align: center;
} 
.station-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 2vw;
    margin-top: 1vw;
    font-style: italic;
}

.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 15px 0;
    margin-top: 1.5vw; 
    font-style: italic;
}

.display-container {
    display: flex;
    justify-content: center;
    margin: px 0;
}

.digit-container {
    position: relative;
    width: 40px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 2px;
    overflow: hidden;
}

.unit-symbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    margin: 0 2px;
    font-size: 24px;
}

.digit-slot {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.digit-roller {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transition: top 0.5s ease-in-out;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    color: #63000d;
    font-size: 1.5rem;
    font-weight: lighter;
} 