@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

* {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
	user-select: none;
}

html, body {
	background: none;
	padding: 0;
	margin: 0;
	font-size: 2vh;
	overflow: hidden;
}

button {
    background: rgba(0, 0, 0, 0.4);
    color: white;
	border-radius: 8px;
    font-size: 2vh;
	border: none;
    width: 200px;
    margin: 0 auto;
	transition: .3s all ease
}

button:hover:enabled, button:focus:enabled {
    background-color: rgba(99, 0, 13, 1.0);
    transform: scale(1.05);
}

button:active:enabled {
	background-color: rgba(99, 0, 13, 1.0);
    transform: scale(0.95);
}

button:disabled {
	color: #555;
	border: none;
    opacity: 0.5;
}

input {
    background: rgba(0, 0, 0, 0.4);
	color: white;
	border: none;
	border-radius: 8px;
    padding: 5px;
}

input:disabled {
	color: #555;
	border: none;
    opacity: 0.5;
}

input[type="checkbox"] {
	-webkit-appearance: none;
    background: rgba(0, 0, 0, 0.4);
	height: 1vw;
	width: 1vw;
	border: none;
	vertical-align: middle;
    border-radius: 4px;
}

input[type="checkbox"]:checked {
	background: rgba(99, 0, 13, 1.0);
}

input[type="checkbox"]:disabled {
	border: none;
    opacity: 0.5;
}

input[type=range] {
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.4);
	height: 0.3vh;
    border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: rgba(99, 0, 13, 1.0);
	width: 1vw;
	height: 1vh;
	transform: translate(0, -0.35vh);
    border-radius: 50%;
}

input[type=range]:focus {
	outline: none;
}

select {
    background: rgba(0, 0, 0, 0.4);
	color: white;
	border: none;
	border-radius: 8px;
    padding: 5px;
}

option {
    background: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.4);
    width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
}

#ui {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
    background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	flex-flow: column;
	min-width: 25vw;
	max-height: 90vh;
	max-width: 90vw;
	overflow: hidden;
	border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#start-media-player {
	display: grid;
	grid-template-columns: repeat(2, max-content) auto repeat(7, max-content);
	grid-gap: 0.25vh 0.25vw;
	padding: 0.5vh 0;
}

#url-container input {
	width: 100%;
	min-width: 15vw;
}

#offset-container, #loop-container, #filter-container, #locked-container, #muted-container, #attenuation-container {
	white-space: nowrap;
}

#attenuation-container > div {
	display: inline-block;
}

#active-media-players-container {
	overflow-y: auto;
}

#active-media-players {
	display: grid;
	grid-template-columns: repeat(5, max-content) auto;
	grid-gap: 1vh 1vw;
}

.active-media-player {
	display: contents;
}

.active-media-player-main {
	display: contents;
}

.active-media-player-handle, .active-media-player-distance, .active-media-player-video-size, .active-media-player-controls {
	white-space: nowrap;
}

.active-media-player-title {
	display: grid;
	grid-template-columns: max-content auto;
	grid-gap: 0.25vh 0.25vw;
}

.active-media-player-time {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-gap: 0.25vh 0.25vw;
}

.active-media-player-time-display {
	display: grid;
	grid-template-columns: max-content;
	grid-gap: 0.25vh 0.25vw;
}

.active-media-player-time-counter {
	font-size: 1.5vh;
	text-align: center;
}

.active-media-player-time-slider::-webkit-slider-thumb {
	background: rgba(255,255,255,0.9) !important;
}

.disabled-range::-webkit-slider-thumb {
	display: none;
}

.active-media-player-controls {
	text-align: right;
}

.active-media-player-queue {
	grid-column: 2 / 9;
	display: grid;
	grid-template-columns: repeat(7, max-content);
	grid-gap: 1vh 1vw;
	align-items: baseline;
	padding: 0 0 0.5vh 0;
}

.queue-head, .queue-body {
	display: contents;
}

.queue-head {
}

#loading {
	display: none;
	text-align: center;
}

.control-button {
	text-align: center;
	width: 1.8vw;
	height: 2.5vh;
}

.active-media-player-video-size span {
	padding: 0 0.25vw;
}

#status {
	display: grid;
	grid-template-columns: repeat(5, max-content) auto;
	grid-gap: 0.5vh 0.5vw;
	background: none;
	position: absolute;
	bottom: 2%;
	right: 1%;
	color: #fff;
}

#base-volume-container {
	display: flex;
	align-items: center;
	padding: 0.5vh 0 0.5vh 0;
}

#base-volume-container i, #base-volume-container div {
	padding: 0 0.25vw;
}

#set-base-volume {
	flex-grow: 1;
}

.player {
	position: absolute;
	transform: translate(-50%, -100%);
	opacity: 0.9;
}

#usable-media-players-container, #presets-container {
	display: contents;
}

#preset {
}

#main-advanced-settings {
	display: grid;
	grid-template-columns: repeat(15, max-content);
	grid-gap: 0.5vh 0.5vw;
}

#drag-top, #drag-bottom {
	height: 1vh;
}

mediaelementwrapper > iframe {
	width: 100%;
	height: 100%;
}

mediaelementwrapper > video {
	width: 100%;
}

#save-settings {
	display: grid;
	grid-template-columns: repeat(5, max-content);
	grid-gap: 0.25vh 0.25vw;
	align-items: end;
	padding: 0.5vh 0.5vw;
	margin: auto;
}

.save-input-label {
	font-size: 1.5vh;
	text-align: center;
}

#delete-settings {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-gap: 0.25vh 0.25vw;
	align-items: end;
	padding: 0.5vh 0.5vw;
	margin: auto;
}

#scaleform-settings {
	display: grid;
	grid-template-columns: repeat(4, max-content);
	grid-gap: 0.5vh 0.5vw;
	align-items: end;
	padding: 0.5vh 0.5vw;
	margin: auto;
}

#scaleform-title {
	grid-column: 1 / 5;
	text-align: center;
}

#scaleform-name-container {
	display: contents;
}

#scaleform-name {
	grid-column: 2 / 5;
}

#scaleform-position, #scaleform-rotation, #scaleform-scale, #scaleform-auto {
	display: contents;
}

#scaleform-auto-my-position {
	grid-column: 2;
}

#scaleform-attached-container {
	text-align: center;
}

.scaleform-setting {
	text-align: center;
}

.notifications {
	position: absolute;
	top: 0;
	right: 0;
	height: 98vh;
	width: 15vw;
	overflow: hidden;
	margin: 1vh 1vw 1vh 1vw;
}

.notification {
    background: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	margin: 0.5vh 0.5vw 0.5vh 0.5vw;
	border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.notification .title {
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	font-size: 2.0vh;
    background: rgba(99, 0, 13, 1.0);
	border-radius: 8px 8px 0 0;
}

.notification .text {
	padding: 0.5vh 0.5vw 0.5vh 0.5vw;
	font-size: 1.7vh;
}

.tooltip {
	display: none;
	position: fixed;
    background: rgba(0, 0, 0, 0.9);
	color: white;
	padding: 0.8vh 0.8vw;
	border-radius: 8px;
	transform: translate(0.5vw, 1vh);
	font-size: 1.5vh;
    box-shadow: 0 2px 15px rgba(0,0,0,0.4);
}

.tooltip-title {
	font-size: 2vh;
	padding-bottom: 0.5vh;
}

.tooltip-title:before {
	content: "\f059\a0";
}

.tooltip-para {
	padding-top: 0.5vh;
}

.icon-descriptions {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.5vh 0.5vw;
	align-items: end;
	padding-top: 0.5vh;
}

.literal {
	color: rgba(255, 255, 255, 0.5);
}

.icon {
}
